article {
    background-color: pink;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
    border-style: solid;
    border-color: lavender;

    section {
        background-color: plum;
        margin: 10px;
        border-radius: 2px;
    }
}